
html, body{
    background-color: rgb(22, 182, 62);
    text-shadow: 1px 1px rgb(126, 121, 121);
}

.p{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7vw;
    margin-right: 500px;
}

.reg{
    width: 100px;
    margin-left: 1320px;
    background-color: rgb(37, 44, 39);
    color:white;
    font-size: 1.3rem;
    padding: 2%;
    text-align: center;
    border-radius: 20%;
}

.regtab{
    width: 100px;
    background-color: rgb(37, 44, 39);
    color:white;
    font-size: 1.3rem;
    padding: 2%;
    text-align: center;
}

.regtab2{
    width: 100px;
    background-color: rgb(195, 196, 195);
    color:white;
    font-size: 1.3rem;
    padding: 2%;
    text-align: center;
}

.regtab10{
    width: 100px;
    height: 50px;
    background-color: rgb(37, 44, 39);
    color:white;
    font-size: 1.3rem;
    padding: 2%;
    text-align: center;
}

.footer-content{
    
    background-color: rgb(0, 0, 0);
    color:white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}